.bloque{
    position: relative;
    width: 100%;
    height: calc(85vh - 50px);
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    background-image: url('../proyecto-dise-o-desde-codigo/images/imagenchat.jpg');
}

form{
    width: 600px;
    margin:auto;
    background: rgba(0, 22, 40, .6);
    padding: 10px 50px;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 7px;
}

h2{
    color: #ebf7d0;
    text-align: center;
    margin: 0;
    font-size: 40px;
    font-family: "Source sans pro", sans-serif;
}

 input, textarea{
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Source sans pro", sans-serif;
    border: none;
    color: #446b12;
    
}

textarea{
    min-height: 120px;
    max-height: 250px;
    max-width:100% ;
    color: #446b12;
}

#botonenviar{
    text-decoration: none;
    padding: 9px 20px;
    background-color: hsla(86, 72%, 25%, 0.63);
    color: #ebf7d0;
    text-transform: uppercase;
    transition: all 3s ease-in-out;
    font-family: "Source sans pro", sans-serif;
}

#botonenviar:hover{
    cursor: pointer;
}

@media (max-width:880px) {
    form{
        width: 100%;

    }
}